.pokemon-viewer__container{
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  background: #f0f0f0;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px #fff;
  border-radius: 10px;
  padding: 0 10px;
  margin: 20px 0;
  text-transform: capitalize;
}

.pokemon-viewer__details h2{
  margin-bottom: -20px;
}

.pokemon-viewer__img-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon-viewer__img-container img{
  min-width: 200px;
  max-height: 200px;
}

.pokemon-viewer__stats{
  display: flex;
  flex-direction: column;
}

.pokemon-viewer__stats-type{
  padding: 10px;
}

.pokemon-viewer__stats-abilities{
  display: flex;
  flex-wrap: wrap;
  background: skyblue;
  padding: 10px;
  border-radius: 10px;
}
.pokemon-viewer__stats-base-stats{
  display: flex;
  flex-wrap: wrap;
  background: pink;
  padding: 10px;
  border-radius: 10px;
  margin-top: 5px;
}

.pokemon-viewer__stats-weight-height{
  display: flex;
  flex-wrap: wrap;
  background: lightgreen;
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0;
}


h4{
  margin: 0;
  margin-right: 10px;
}