* {
  box-sizing: border-box;
}

.pokemon-list-container {
  display: grid;
  width: 100%;
  gap: 20px;
  padding: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.pokemon-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
}

.empty-list {
  width: 73%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  margin: 20px;
}

.list-title {
  margin-bottom: -10px;
}
